<p><%= @user_name %>様</p>

<div class="canvas-area">
  <canvas id="draw-area" width="300" height="400">HTML5非対応</canvas>
</div>

<form id="save_result" action=<%= result_path %> method="GET">
  <input type="hidden" id="picture_image_url" value="">
</form>
<input type="button" id="save_button" value="完成" onclick="save_picture();">

<div>
  <input type="checkbox" id="name_check"
            onclick="name_checked(this.checked);" value="<%= @user_name %>">
  <label for="name_check">名前を入れる</label>
</div>

<div class="buttons">
  <input type="button" value="やり直す" onclick="clear_draw_area();">
</div>
