<p><%= @user_name %>様</p>

<div class="canvas-area">
  <canvas id="draw-area" width="300" height="400">HTML5非対応</canvas>
</div>

<div>
  <input type="checkbox" id="name_check"
            onclick="name_checked(this.checked);" value="<%= @user_name %>">
  <label for="name_check">名前を入れる</label>
</div>

<div class="buttons">
  <%= link_to "完成", result_path, class: "btn btn-lg btn-primary" %>
  <input type="button" value="やり直す" onclick="clear_draw_area();">
</div>
